@font-face {
	font-family: "Titillium Web";
	src: url(fonts/Titillium Web V2/Titillium Web V2.woff),
		 url(fonts/Titillium Web V2/Titillium Web V2.eot),
		 url(fonts/Titillium Web V2/Titillium Web V2.ttf),
		 url(fonts/Titillium Web V2/Titillium Web V2.woff2),
		 url(fonts/Titillium Web V2/Titillium Web V2.svg),
		 url(fonts/Titillium Web V2/Titillium Web V2.otf);
}


@font-face {
	font-family: "Open Sans";
	src: url(fonts/Open Sans/Open Sans.woff),
		 url(fonts/Open Sans/Open Sans.eot),
		 url(fonts/Open Sans/Open Sans.ttf),
		 url(fonts/Open Sans/Open Sans.woff2),
		 url(fonts/Open Sans/Open Sans.svg),
		 url(fonts/Open Sans/Open Sans.otf);
}



/*
@font-face {
	font-family: "Droid Serif";
	src: url(fonts/Droid Serif V1/Droid Serif V1.eot),
		 url(fonts/Droid Serif V1/Droid Serif V1.ttf),
		 url(fonts/Droid Serif V1/Droid Serif V1.woff),
		 url(fonts/Droid Serif V1/Droid Serif V1.woff2),
		 url(fonts/Droid Serif V1/Droid Serif V1.svg),
		 url(fonts/Droid Serif V1/Droid Serif V1.otf);
}
*/