/* v_show style */
.v_caption { 
	height:30px;
	width:80px; 
	overflow:hidden; 
	background:url(../images/btn_cartoon.gif) no-repeat 0 0; 
	filter:alpha(opacity=60);  
     -moz-opacity:0.6;  
     -khtml-opacity: 0.6;  
      opacity: 0.6;  
	/*position: relative;
	/*top: 80px;
	left: 910px;*/
	vertical-align: center;
	}
	.center {
		position:relative;
		top: 65px;
		/*left: 48%;*/
		margin-left:48%;
	}


.v_caption .cartoon { 
	background-position: 0 -100px; 
}
.v_caption .variety { 
	background-position:-100px -100px; 
}
.highlight_tip { 
	display:inline; 
	float:left; 
	margin:14px 0 0 10px; 
	text-align: center;
}
.highlight_tip span { 
	display:inline; 
	float:left; 
	width:7px; 
	height:7px; 
	overflow:hidden; 
	margin:0 2px; 
	background:url(../images/btn_cartoon.gif) no-repeat 0 -320px; 
	text-indent:-9999px; 
}
.highlight_tip .current { 
	background-position:0 -220px; 
}

.v_caption em { 
	display:inline; 
	float:right; 
	margin:10px 12px 0 0; 
	font-family:simsun; 
}
